/* Contenedores de inputs con iconos */
.input-icon-container {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 0.7rem;
}

.input-icon-container input[type="email"],
.input-icon-container input[type="password"] {
    padding-left: 2.2rem;
    width: 100%;
    box-sizing: border-box;
    background: #f7faff;
    border: 1.4px solid #e3e8ee;
    border-radius: 9px;
    font-size: 1rem;
    margin-top: .29rem;
}

.input-icon-container input[type="password"] {
    padding-right: 2.6rem;
}

.input-icon-left {
    position: absolute;
    left: 9px;
    top: 55%;
    transform: translateY(-50%);
    color: #a7b1c2;
    font-size: 1.13rem;
}

.toggle-password {
    position: absolute;
    right: 18px;
    top: 68%;
    transform: translateY(-50%);
    color: #7e8aa1;
    z-index: 2;
    font-size: 1.15rem;
    cursor: pointer;
}

/* Bot칩n iniciar sesi칩n */
.login-btn {
    background: #1E88E5;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 8px;
    border-radius: 11px;
    border: none;
    padding: 0.92rem 0;
    width: 100%;
    cursor: pointer;
}

.login-btn:hover {
    background: #0f74d1;
    box-shadow: 0 4px 14px 0 rgba(44, 128, 255, 0.21);
}

/* Enlace olvidaste tu contrase침a */
.forgot-link {
    color: #178CFF;
    text-align: center;
    display: block;
    margin-bottom: 18px;
    text-decoration: none;
}

/* Bot칩n Google */
.login-btn-google {
    width: 100%;
    background: #fff;
    border: 1.2px solid #e3e8ee;
    border-radius: 9px;
    padding: 0.8rem;
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 18px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 15px;
}

.login-btn-google img {
    width: 22px;
    vertical-align: middle;
}

/* Espaciado extra para el formulario de login */
.register-form {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    gap: 1.35rem;
}

label {
    margin-bottom: 0.7rem;
    width: 100%;
}


.subtitle {
    margin: 0 0 1.3rem 0;
}

/* Tarjeta compacta */
.register-container {
    width: 100%;
    max-width: 400px;
    margin: 3.3rem auto;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 26px 8px rgba(44, 128, 255, 0.09);
    overflow: hidden;
    padding: 2.7rem 2.2rem 2.2rem 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}